<div class="wrapper header-wrapper">
	<div class="header">
		<div class="text-vertical-center">
			<%= image_tag "/class_logo.jpg", :alt => "1", :id => "class-logo" %>

			<!-- <h1>ECE 2019</h1>
			<p>University of Waterloo Electrical and Computer Engineering Class of 2019</p> -->
			<br></br>
			<a href="/courses" class="header-button hvr-bounce-to-top btn btn-lg">Courses</a>
			<a href="/classmates" class="header-button hvr-bounce-to-top btn btn-lg">Classmates</a>
			<a href="/info" class="header-button hvr-bounce-to-top btn btn-lg">Information</a>
		</div>
	</div>
</div>