<div class="header">
	<div class="text-vertical-center">
		<h1>ECE 2019</h1>
		<p>University of Waterloo</p>
		<a href="/courses" class="header-button hvr-bounce-to-top btn btn-lg">Courses</a>
		<a href="/classmates" class="header-button hvr-bounce-to-top btn btn-lg">Classmates</a>
		<a href="/info" class="header-button hvr-bounce-to-top btn btn-lg">Information</a>
	</div>
</div>

<div class="modal fade" id="feedback-popup" role="dialog" aria-labelledby="FeedbackPopup"></div>