<div class="header">
	<div class="text-vertical-center">
		<h1>ECE 2019</h1>
		<p>University of Waterloo</p>
		<a href="/courses" class="header-button hvr-bounce-to-top btn btn-lg">Courses</a>
		<a href="/classmates" class="header-button hvr-bounce-to-top btn btn-lg">Classmates</a>
		<a href="/info" class="header-button hvr-bounce-to-top btn btn-lg">Information</a>
	</div>
</div>

<footer class="home-footer">
	<div class="container">
		<p class="text-muted">
			Copyright &copy; 2016 &nbsp; &nbsp; All Rights Reserved &nbsp; &nbsp;
			<a id="feedback-trigger" data-toggle="modal" data-toggle="modal" data-target="#feedback-popup">We would love your feedback!</a>
		</p>
	</div>
</footer>

<div class="modal fade" id="feedback-popup" role="dialog" aria-labelledby="FeedbackPopup"></div>