
<h1>Listing classmates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>GitHub Profile</th>
    <th>Personal Website</th>
  </tr>

  <% @classmates.each do |classmate| %>
    <tr>
      <td><%= classmate.name %></td>
      <td><%= classmate.githubProfile %></td>
      <td><%= classmate.website %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add Classmate', new_classmate_path,
			:style => "color: black;
					  border: 1px solid black;
					  background-color: rgba(0, 0, 0, 0.22);
					  padding: 5px;" %>