<p>
  <strong>Name:</strong>
  <%= @classmate.name %>
</p>

<p>
  <strong>Github Profile:</strong>
  <%= @classmate.githubProfile %>
</p>

<p>
  <strong>Personal Website:</strong>
  <%= @classmate.website %>
</p>

<%= link_to 'Back', classmates_path %>