<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %> left a feedback!</h1>
    <p><%= @feedback %></p>
    <br>
    <p>Contact e-mail address: <%= @email %></p>
  </body>
</html>