<h1>Courses</h1>

<div class="wrapper">
    <div class="container">
      	<% data_length = @courses.length %>
        <% @courses.each do |course| %>
          	<div class="row">
              <div>Term: <%= course["Term"]%> -- Course: <%= course["CourseCode"]%> - <%= course["CourseName"] %></div>
            </div> 
      	<% end %>
    </div>
</div>