<h1>Courses</h1>

<div class="wrapper">
    <div class="container">
        <% @courses.each do |course| %>
          	<div class="row">
              <div>Term: <%= course["Term"]%> -- Course: <%= course["CourseCodeDisplay"]%> - <%= course["CourseTitle"] %></div>
            </div> 
      	<% end %>
    </div>
</div>

<div id="course_popup"></div>
