/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require hover
 */


html,
body {
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.wrapper{
  padding-top: 100px;
}

.navbar {
  padding: 20px 0;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
  padding: 0;
}

.navbar-brand{
  font-size: 25px;
}

.footer {
  text-align: center;
  font-size: 12px;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}

.footer a {
  color: inherit;
}