/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    text-align: center;
}

.navigation-tab {
    width: 100%;
    height: 15%;
    top: 0;
    border-bottom: solid 1px gray;
}

.navigation-tab li:hover {
    font-weight: bold;
}

.navigation-tab li{
    display: inline-block;
    padding: 1em 1.5em;
    margin: 0 0.5em;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.navigation-tab li a {
    width: 100%;
    height: 100%;
    color: black;
}

.content-container {
    max-width: 90%;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    margin-top: 1em;
}