/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html,
body {
    width: 100%;
    height: 100%;
    cursor: default;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

body {
    font-family: "Roboto", sans-serif;
}


a {
    text-decoration: none;
}

body {
    text-align: center;
}

.navigation-tab {
    width: 100%;
    height: 15%;
    top: 0;
    border-bottom: solid 1px gray;
}

.navigation-tab li:hover {
    font-weight: bold;
}

.navigation-tab li{
    display: inline-block;
    padding: 31px 10px;
    margin: 0 0.5em;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color: black;
}