.profile{
	padding: 5px 10px;
	color: #585858;

	img{
			width: 150px;
		}

	.profile-content{
		padding: 5px 0 5px 5px;

		.name{padding: 2px;}

		a{
			padding: 2px;
			color: #585858;
			text-decoration: none;

			&:hover{
				color: black;
			}
		}
	}
}

.title{
  font-family: 'Lato', sans-serif;
	font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
}

.modal{
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.form-special{
	width: 50%;
}

.class-btn{
	font-size: smaller;
	border-radius: 0;
	border-width: 2px;
	color: black;
	background-color: #F0F0F0;
	margin: 0px 27px 10px 0;
}