table{
	width: 100%;
	padding-bottom: 10px;
}

th, td {
	padding: 10px;
	border: 1px solid black;
}

.css_class{
	background-color: red;
}

.profile{
	.name{

	}

	img{
		padding-top: 10px;
		width: 170px;
	}
}