@import "bootstrap";

.courses-header {
	@extend .h3;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: left;
	padding-left: 10px;

	.toggle-courses{
		border-bottom: 1px solid red;
		font-size: 85%;
		font-weight: 300;
		margin-left: 10px;
		color: #797979;

		&:hover{
			color: black;
			cursor: pointer;
		}
	}
}

.table {
	margin-top: 20px;

	td {
		color: #606060;
		border-top: none !important;
		padding-top: 20px !important;
		padding-bottom: 20px !important;

		&:hover{ cursor: pointer; color: black;}
	}

	.current-term {
		border-left: 1px red solid;
		background-color: #F3F3F3;
	}
}

.elective-table{

	font-family: 'Open Sans', sans-serif;
	font-weight: 600;

	td:nth-child(2n+2) {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		color: #0073a8;
	}

	tr{border-bottom: 1px solid #DDDDDD;}
	tr:last-child{border-bottom: none !important;}
}

.table-header{
	color: #606060;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	@extend .h4;
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #DDDDDD;
}

p {
	color: #797979;
}

.electives{
	.elective-cat-title{
		color: #606060;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		text-transform: uppercase;
	text-align: left;

	i {
		color: #606060;
			vertical-align: middle;
			font-size: 60% !important;
		}
	}
}

.no-hover:hover {
	cursor: context-menu !important;
	font-weight: normal !important;
}