.courses-table {
	font-size: 1.3em;
	border-bottom: none;
}

.courses-table td{
	padding: 0.5em 1em;
}

/*.courses-table tr{
	border-bottom: 1px solid black;
	border-top: 1px solid black;	
}*/

.courses-table .term-cell {
	padding-left: 0;
	border-right: 1px solid black;
	font-weight: bold;
}

.courses-table .course-cell:hover {
	cursor: pointer;
}