hr {
	width: 20%;
	opacity: 0.5;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  h1 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
  }
}

/*Homepage Header and Blog Header*/
.header{
  font-family: 'Lato', sans-serif;
  color: black;
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: white no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

  h1 {
    font-weight: 100;
    text-transform: uppercase;
  }

  p {
    font-weight: 400;
    margin-bottom: 25px;
  }
}

.header-button{
  font-weight: 400;
  border-radius: 0;
  border-width: 2px;
  color: black;
  background-color: #F0F0F0;
  margin: 0px 5px;
  font-weight: 300;
}

.article {
  font-size: 1.2em;
}

#article-container {
  padding-top: 1em;
}

.calendar-date {
  border-bottom: 1px solid #606060;
  border-top: 1px solid #606060;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.calendar-cell {
  padding-left: 0;
}

.home-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  a {
    color: inherit;
    &:hover{
      color: black;
    }
  }
}

.error-message {
  color: red;
  display: none;
}

.calendar-day {
  color: #606060;  
  width: 16%;
}
