hr {
	width: 20%;
	opacity: 0.5;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  h1 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
  }

  #class-logo {
    width: 150px;
    height: auto; 
  }

  @media only screen and (min-width: 500px) {
     #class-logo { width: 300px; }
  }
}

/*Homepage Header and Blog Header*/
.header-wrapper {
  padding-top: 0;
  margin: 0 auto; 
  margin-bottom: -30px;
  display: table;
}

.header{
  font-family: 'Lato', sans-serif;
  color: black;
  display: table-cell;
  vertical-align: middle;
  background: white no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

  h1 {
    font-weight: 100;
    text-transform: uppercase;
  }

  p {
    font-weight: 400;
    margin-bottom: 25px;
  }
}

.header-button {
  font-weight: 400;
  border-radius: 0;
  border-width: 2px;
  color: black;
  background-color: #F0F0F0;
  margin: 2px 25%;
  font-weight: 300;
  width: 150px;
}

@media only screen and (min-width: 700px) {
   .header-button { margin: 0px 5px; }
}

.article {
  font-size: 1.2em;
}

#article-container {
  padding-top: 1em;
}

.calendar-date {
  border-bottom: 1px solid #606060;
  border-top: 1px solid #606060;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.calendar-cell {
  padding-left: 0;
}

.error-message {
  color: red;
  display: none;
}

.calendar-day {
  color: #606060;  
  width: 16%;
}

#article-container {
  padding-bottom: 2em;
}